
body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
page{
    
    margin-top: 10px;
}
.header{
  
  background-color: gray;
}


.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

input[type='number']{
  
 padding-top:10px;
  height: 4rem !important;
  font-size:.75em;
  font-weight:bold;
  width:85px !important;
}

span[type='input']{
    min-width: 75px;
  
  font-size:1em;
  font-weight:bold;
  padding:3px;
}
.pagination a:hover:not(.active) {background-color: #ddd;}



.input-group-addon:first-child {
    border-right: 0;
    width: 10px;
    border-bottom: 1px solid #ccc;
    height:20px;
}
div#configure{
    width:auto;
    border:1px solid red;
}
select {
    
    width:150px;
}

.navbar-fixed-top
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c3742),color-stop(100%,#28303a));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(44, 55, 66)), to(rgb(40, 48, 58)));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    font-size: 16px;
}
.navbar-brand{
    color: #fcc118 !important;
    font-size:1.75em !important;
   font-variant: small-caps;
}
.navbar-inverse {
    /* min-height: 48px; */
    /* margin-bottom: 0; */
    /* border-radius: 0; */
    /* border-bottom: 1px solid #191e23; */
    /* background: #2c3742; */
   background: -moz-linear-gradient(top,#2c3742 0%,#28303a 100%);
    background-color: #fcc118;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c3742),color-stop(100%,#28303a));
    /* background: -webkit-linear-gradient(top,#2c3742 0%,#28303a 100%); */
    background: -o-linear-gradient(top,#2c3742 0%,#28303a 100%);
    background: -ms-linear-gradient(top,#2c3742 0%,#28303a 100%);
    /* background: linear-gradient(to bottom,#2c3742 0%,#28303a 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3742',endColorstr='#28303a',GradientType=0);
}

.navbar-inverse {
    /* background-color: #222; */
    /* border-color: #080808; */
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
 
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    
  
}
.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}
div {
    display: block;
}

.pagination a {
  
    font-size: 12px;
}
.fiat-selected .crypto-selected .fiat-unselected .crypto-unselected
{
    height: auto;
    width: 100px;
    margin-left: 20px;
    
}

.fiat-selected .crypto-selected .fiat-unselected .crypto-unselected > option
{
    text-align:center;
    
}



#bitcoin_widget_container{
    width:auto !important; 
    text-align:left!important;
    margin-top:10px;
    
}
.the_widget{
    background:none repeat scroll 0 0 #f4f4f4;
    margin:0 0 10px 3px;
    box-shadow:0 0 5px rgba(89,89,88,.25)
    ;padding-bottom:10px;font-family:Arial;border-radius:5px;
    -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;
        
    }
#bitcoin_price_last,.bitcoin_price_label{
    font-weight:700;
    font-size:25px;
    height:30px;
    line-height:30px;
    
}
.get_widget_link{
    color:#504e47 !important;font-size:9px;text-decoration:none !important; 
    
}
.get_widget_link:hover{color:#969696 !important;}


            
#btc-logo{
    float:left;margin:2px 5px 0 0;width:25px;height:25px;background-size:contain;
    background-repeat:no-repeat;background-image:url(https://www.cryptocoinsnews.com/wp-content/uploads/2014/09/btclogo.png);
    
}
#bitcoin_price_high,.bitcoin_price_high_label{color:green;font-size:12px !important;line-height:12px!important;}
#bitcoin_price_low,.bitcoin_price_low_label{color:red;font-size:12px !important;line-height:12px!important;}

ul#bitcoin_news{
    margin-top:9px;
    margin-bottom:0;
    margin-left:15px!important;
    padding-left:0;
    list-style: none;
  
}
ul#bitcoin_news li{
   
  
    margin-top:5px;
    padding:5px;
   
   
   
}
ul#bitcoin_news li a{
    color:black;
    text-decoration:none !important;
    font-size:.85em;
    color:black;
    
}
ul#bitcoin_news li a:hover{color:#969696;}

        
.chat-select-container        {
    
     width:auto !important; 
     background-color: red !important;
}
.widget_header {
    background-color:#fab915;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    text-align: center;
    margin-top:10px;
    width:100%;
}

.btc-news {
    background-color:none;
}

.fullscreen{
   
    width: 50%; 
    height: 60%; 
    position: fixed; 
   
    align:middle;
    border:1px solid black;
    background-color: gray;
    
 }
 

.ccy-name{
    
font-size: 10px !important;
height: 20px !important;
}

.ccy-group{
    height: 20px !important;
}

.fullscreen > body {
    
    background-color: black;
}
.total_market_cap_usd{

color:#00B62;
}
.fiatPrice-grid, .price-grid
{
    
    padding-left: 20px;
    text-align: middle;
}

